<br />
<% if current_user  %>
<ul>
  <li><%= link_to "Manage Vendors", vendors_path %></li>

  <li><%= link_to "Manage Employees", employees_path %></li>
  <ul>
    <li>Computers</li>
    <li>Items</li>
    <li>Devices</li>
    <li>Accessories</li>
    <li>Quotations</li>
    <li>Invoices</li>
    <li>Accessories</li>
  </ul>
</ul>
<% end %>
