<br />
<% if current_user  %>
<ul>
  <li><%= link_to "Manage Vendors", vendors_path %></li>
  <li><%= link_to "Manage Items", items_path %></li>
  <li><%= link_to "Manage Asset Requests", asset_requests_path %></li>
  <li><%= link_to "Manage Employees", employees_path %></li>
</ul>
<% end %>
