// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 120px;
    }
#ref_Device
    {
        display:none;
    }

